:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .landing-content {
    text-align: center;
  
    h1 {
      font-size: 3rem;
    }
  
    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  
    button {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      color: #000;
      background-color: #ffffff;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
  
      &:hover {
        background-color: #dddddd;
        transform: scale(1.05);
      }
    }
  }
  