<div class="vanta-bg" style="width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 0;"></div>

<div class="content-wrapper" style="position: relative; z-index: 1;">
  <div class="landing-content">
    <h1>Hello, I'm <span class="highlighted-name">Paige</span></h1>
    <h1>I am a <span class="animated-highlight">full stack</span> web developer</h1>
    <p>Welcome to my portfolio website. Scroll down or click the button to learn more about me.</p>
    <button (click)="navigateToAbout()">Learn More About Me</button>
  </div>
</div>
