:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  
  app-navbar {
    flex: 0 1 10%;
  }
  
  .page-content {
    flex: 1 1 auto;
    overflow-y: auto;
  }
  
  app-footer {
    flex: 0 1 10%;
  }
  